{{#extend "base"}}
  {{#content "main"}}
    <div class="container my-5">
      <div class="alert alert-warning text-center" role="alert">
        <p>{{ message }}</p>
        <a class="btn btn-lg btn-secondary" href="/">Go Back</a>
      </div>
    </div>
  {{/content}}
{{/extend}}